<!DOCTYPE html>
<html>
<head>
	<title>Find your elected officials</title>
	<link rel="shortcut icon" href="/images/usa.png">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/flex.css' />
	<link rel='stylesheet' href='/stylesheets/input.css' />
	<script src="../node_modules/react/dist/react.min.js"></script>
	<script src="../node_modules/react-dom/dist/react-dom.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
	<script src="/javascripts/rep.jsx" type="text/babel"></script>
</head>
<body>
	<img class="leftLogo" src="/images/logo.jpg">
	<section id="hero">
		<div class="container" id="container">
		</div>
	</section>
</body>
</html>
